@font-face {
    font-family: "Poppins";
    src: url("./../fonts/Poppins-Medium.ttf");
    src: url("./../fonts/Poppins-Light.ttf");
    src: url("./../fonts/Poppins-Regular.ttf");

    font-family: "Nunito";
    src: url("./../fonts/Nunito-Regular.ttf");
}